<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="https://br.linkedin.com/in/rodrigosoares2" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/rodrigosoares" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="http://lattes.cnpq.br/9074596516656025" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="text-muted text-center">&copy; <%= Time.now.year %> Rodrigo Soares</p>
      </div>
    </div>
  </div>
</footer>
