<div class="jumbotron">
  <div class="container">
    <h1><%= header_info[:title] %></h1>
    <p><%= header_info[:subheading] %></p>
    <p><a class="btn btn-primary btn-lg" href="<%= about_path %>" role="button">Saiba mais sobre mim &rarr;</a></p>
  </div>
</div>
